/* styles.css */

/* Add styles here to customize the appearance of your app */
@font-face {
    font-family: Reospec;
    src: url("./fonts/Reospec.otf") format("opentype");
}

body {
    
    
    color:#ecb365;
    background-color:#041c32;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container h1 {
    font-size: 4rem;
    font-family: Reospec;
    
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.source-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 1rem;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo {
    width: 80px;
    height: 60px;
}
input{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #e8e8e8;
    font-size: 14px;
    height: 10px;
    padding: 17px 20px;
    background-color: #064663;
    width: 300px;
}
.open-source-file-browser, 
.open-destination-file-browser {
    background-color: #ecb365;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ecb365;
    border-radius: 5px;
    color: #041c32;
    font-size: 14px;
    height: 46px;
    padding: 17px 20px;
}
.start-deep-copy {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ecb365;
    border-radius: 5px;
    color: #ecb365;
    font-size: 14px;
    height: 46px;
    padding: 17px 20px;
    margin-top: 30px;

}
.start-deep-copy:disabled {
    color: gray;
    border-color: gray;
}

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.start-copy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    display: none;
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}